<h1>こんにちは、<%= current_user.username %>さん</h1>
<p>ユーザーネーム一覧</p>

<% @users.each do |user| %>
  <% if current_user.username != user.username %>
    <h2><%=link_to user.username, 'page' %></h2>
  <% end %>
<% end %>
